<div class="col-sm-12">
  <div class="row column-list-container" cdkDropListGroup>
    <div class="loading" *ngIf="loading">
      <mat-spinner ></mat-spinner>
      <span> Cargando datos ...  <br/> Puede tomar unos minutos ya que se usa servicios gratuitos</span>
    </div>
    <div
      class="column-list"
      *ngFor="let element of list; index as i"
    >
      <h2>
        <mat-icon
          class="mr-2"
          aria-hidden="false"
          fontIcon="inbox"
          *ngIf="element.name === 'Sin Fecha asiganada'"
        >
        </mat-icon>
        {{ element.name }}
        <span class="activityAmount"> ({{ element.activities.length }}) </span>
      </h2>
      <div
        cdkDropList
        [cdkDropListData]="element.activities"
        (cdkDropListDropped)="drop($event)"
      >
        <div class="list-box" *ngFor="let item of element.activities" cdkDrag>
          <mat-card
            class="card-item"
            (click)="item.editable = !item.editable"
            [ngStyle]="{ cursor: item.editable ? 'pointer' : 'move' }"
          >
            <mat-card-header class="card-header-mobile">
              <div
                class="icon"
                [ngStyle]="{
                  'background-color':
                    item.type === 'ACTIVITY'
                      ? '#50BFB4'
                      : item.type === 'FOOD'
                      ? '#BF5A50'
                      : '#9959D9'
                }"
              >
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example hiking icon"
                  fontIcon="hiking"
                  *ngIf="item.type === 'ACTIVITY'"
                >
                </mat-icon>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example hiking icon"
                  fontIcon="restaurant_menu"
                  *ngIf="item.type === 'FOOD'"
                >
                </mat-icon>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example hiking icon"
                  fontIcon="celebration"
                  *ngIf="item.type === 'PARTY'"
                >
                </mat-icon>
              </div>
              <mat-card-title-group class="card-item-title">
                <mat-card-title>{{ item.title }}</mat-card-title>
                <mat-card-subtitle *ngIf="item.startHour && item.endHour">{{
                  item.startHour + " - " + item.endHour
                }}</mat-card-subtitle>
              </mat-card-title-group>
              <div *ngIf="item.editable" class="edit-buttons">
                <button
                  mat-button
                  (click)="onClickDeleteActivity(item.activityId)"
                >
                  <mat-icon
                    style="font-size: 20px"
                    matChipAvatar
                    class="mr-2"
                    aria-hidden="false"
                    fontIcon="delete"
                  >
                  </mat-icon>
                </button>
                <button mat-button (click)="onClickEditActivity(item)">
                  <mat-icon
                    style="font-size: 20px"
                    matChipAvatar
                    class="mr-2"
                    aria-hidden="false"
                    fontIcon="edit"
                  >
                  </mat-icon>
                </button>
              </div>
            </mat-card-header>
            <mat-card-content class="card-content">
              <mat-chip
                *ngIf="item.status !== null"
                [ngClass]="{
                  progressChip: item.status === 'IN_PROGRESS',
                  doneChip: item.status === 'DONE'
                }"
              >
                <mat-icon
                  matChipAvatar
                  class="mr-2"
                  aria-hidden="false"
                  fontIcon="fiber_manual_record"
                >
                </mat-icon>
                <span>
                  {{
                    item.status === "IN_PROGRESS" ? "En progreso" : "Realizada"
                  }}
                </span>
              </mat-chip>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="list-box" *ngIf="element.activities.length === 0" cdkDrag [cdkDragDisabled]="true">
          <mat-card class="card-item">
            <mat-card-header>
              <mat-card-title-group class="card-item-title">
                <mat-card-subtitle>Agrege una actividad</mat-card-subtitle>
              </mat-card-title-group>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      <button mat-button class="btn-nueva" (click)="openFormAcrtivity()">
        + Nueva
      </button>
    </div>
  </div>
</div>
