<div class="header-mobile">
    <div class="title-container-mobile">
        <div class="title-mobile">
            <h2 class="card-title">viexlab </h2>
        </div>
    </div>
</div>
<div class="header">
    <div class="mb-2 title-container">
        <div class="title">
            <h2 class="card-title mb-3"><strong> Itinerario </strong> (Bariloche 2022)</h2>
        </div>
        <button mat-raised-button (click)="onClickNuevaActividad()"> 
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="add-circle"></mat-icon>
            <span>
                Nueva actividad
            </span>
        </button>
    </div>
</div>