<h1 mat-dialog-title class="modal-title">  <mat-icon aria-hidden="false" fontIcon='arrow_forward_ios' (click)="onNoClick()" style="cursor: pointer"> </mat-icon>  Agregar una actividad</h1>
<div mat-dialog-content>
    <mat-grid-list cols="2" rowHeight="100px">
        <mat-grid-tile [colspan]=1 [rowspan]=1>
            <mat-form-field appearance="outline" floatLabel="always" class="full-width">
                <mat-label>Nombre de la Actividad</mat-label>
                <input matInput placeholder="Buscá una actividad o crea una nueva..." name="title" type="text" [(ngModel)]="data.title">
              </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Tipo</mat-label>
            <mat-select [(ngModel)]="data.type">
              <mat-option value="ACTIVITY">Actividad</mat-option>
              <mat-option value="PARTY">Fiesta</mat-option>
              <mat-option value="FOOD">Comida</mat-option>
            </mat-select>
          </mat-form-field>  
        </mat-grid-tile>
       
        <mat-grid-tile [colspan]=1 [rowspan]=1 *ngIf="!data.activityId || data.activityId === null">
          <mat-form-field appearance="outline" floatLabel="always" class="full-width" disabled> 
              <mat-label>Fecha de inicio </mat-label>
              <input matInput [matDatepicker]="fechaInicio" (dateChange)="onDateChange(1, $event)" [(ngModel)]="data.startDate" >
              <mat-datepicker-toggle matIconSuffix [for]="fechaInicio"></mat-datepicker-toggle>
              <mat-datepicker #fechaInicio></mat-datepicker>
            </mat-form-field>
        </mat-grid-tile>
        <mat-grid-tile [colspan]=1 [rowspan]=1 *ngIf="!data.activityId || data.activityId === null">
          <mat-form-field appearance="outline" floatLabel="always" class="full-width" [(ngModel)]="data.endDate" disabled>
              <mat-label>Fecha de Fin </mat-label>
              <input matInput [matDatepicker]="fechaFin" (dateChange)="onDateChange(2, $event)">
              <mat-datepicker-toggle matIconSuffix [for]="fechaFin"></mat-datepicker-toggle>
              <mat-datepicker #fechaFin></mat-datepicker>
            </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile [colspan]=1 [rowspan]=1>
        <mat-form-field appearance="outline" class="full-width"> 
            <mat-label>Hora de inicio </mat-label>
            <input matInput type="time" [(ngModel)]="data.startHour">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1>
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Hora de fin</mat-label>
            <input matInput type="time" [(ngModel)]="data.endHour">
          </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile [colspan]=1 [rowspan]=1 *ngIf="data.activityId && data.activityId !== null">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="data.status">
          <mat-option value="IN_PROGRESS">En progreso</mat-option>
          <mat-option value="DONE">Realizada</mat-option>
        </mat-select>
      </mat-form-field>
</mat-grid-tile>
    </mat-grid-list> 
  
</div>
<div mat-dialog-actions class="buttons">
  <button mat-button (click)="onNoClick()" class="btn-cancelar">Cancelar</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial class="btn-agregar" [disabled]="data.title === '' || data.startDate === '' || data.endDate === ''">Agregar</button>
</div>
